<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.directory.studio.common.ui.StudioPreferencePage"
            id="org.apache.directory.studio.StudioPreferencePage"
            name="%Pref_StudioPage_name">
      </page>
      <page
            category="org.apache.directory.studio.StudioPreferencePage"
            class="org.apache.directory.studio.common.ui.colorschemes.ColorSchemePreferencePage"
            id="org.apache.directory.studio.ColorSchemePreferencePage"
            name="Color Schemes (Base16)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.apache.directory.studio.common.ui.CommonUIPreferencesInitializer">
      </initializer>
   </extension>

  <extension point="org.eclipse.e4.ui.css.swt.theme">
    <stylesheet uri="resources/css/dark.css">
      <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark">
      </themeid>
    </stylesheet>
    <stylesheet uri="resources/css/default.css">
      <themeid refid="org.eclipse.e4.ui.css.theme.e4_default">
      </themeid>
    </stylesheet>

    <!-- Base16 standalone themes (dark) -->
    <theme id="org.apache.directory.studio.theme.solarized-dark"
           label="Solarized Dark"
           basestylesheeturi="resources/css/themes/solarized-dark.css"/>
    <theme id="org.apache.directory.studio.theme.monokai"
           label="Monokai"
           basestylesheeturi="resources/css/themes/monokai.css"/>
    <theme id="org.apache.directory.studio.theme.nord"
           label="Nord"
           basestylesheeturi="resources/css/themes/nord.css"/>
    <theme id="org.apache.directory.studio.theme.one-dark"
           label="One Dark"
           basestylesheeturi="resources/css/themes/one-dark.css"/>
    <theme id="org.apache.directory.studio.theme.gruvbox-dark"
           label="Gruvbox Dark"
           basestylesheeturi="resources/css/themes/gruvbox-dark.css"/>
    <theme id="org.apache.directory.studio.theme.tomorrow-night"
           label="Tomorrow Night"
           basestylesheeturi="resources/css/themes/tomorrow-night.css"/>
    <theme id="org.apache.directory.studio.theme.dracula"
           label="Dracula"
           basestylesheeturi="resources/css/themes/dracula.css"/>
    <theme id="org.apache.directory.studio.theme.github-dark"
           label="GitHub Dark"
           basestylesheeturi="resources/css/themes/github-dark.css"/>
    <theme id="org.apache.directory.studio.theme.catppuccin-mocha"
           label="Catppuccin Mocha"
           basestylesheeturi="resources/css/themes/catppuccin-mocha.css"/>
    <theme id="org.apache.directory.studio.theme.rose-pine"
           label="Rosé Pine"
           basestylesheeturi="resources/css/themes/rose-pine.css"/>
    <theme id="org.apache.directory.studio.theme.tokyo-night"
           label="Tokyo Night"
           basestylesheeturi="resources/css/themes/tokyo-night.css"/>

    <!-- Base16 standalone themes (light) -->
    <theme id="org.apache.directory.studio.theme.solarized-light"
           label="Solarized Light"
           basestylesheeturi="resources/css/themes/solarized-light.css"/>
    <theme id="org.apache.directory.studio.theme.gruvbox-light"
           label="Gruvbox Light"
           basestylesheeturi="resources/css/themes/gruvbox-light.css"/>
    <theme id="org.apache.directory.studio.theme.tomorrow"
           label="Tomorrow"
           basestylesheeturi="resources/css/themes/tomorrow.css"/>
    <theme id="org.apache.directory.studio.theme.github-light"
           label="GitHub Light"
           basestylesheeturi="resources/css/themes/github-light.css"/>
  </extension>

</plugin>
